body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer{
    margin-top: auto;
}
section{
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}